html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Avenir', Arial, sans-serif;
  }
.matte {
    box-shadow: inset 0 2px 8px rgba(255,255,255,0.03), 0 8px 32px 0 rgba(0,0,0,0.13);
    background: #111111;
  }
  @media only screen and (max-width: 600px) {
    #search-menu{
      display: none;
    }
  }
